<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Cart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Cart</h1>
</div>

<div class="container">

    <div id="cartItems" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${cart.getCart()}">
            <div class="row mb-4 d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                    <img class="img-fluid rounded-3" src="http://placehold.it/400x250/000/fff"
                    th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="productPicture"/>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                    </button>

                    <input id="form1" min="1" name="quantity" th:value="${cart.getCountOfSingleItem(prod.getId())}" type="number"
                    class="form-control form-control-sm" />

                    <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h6 class="mb-0" th:text="${prod.getTotalPrice()}">default value</h6>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                </div>
            </div>
            <div class="card">
                <strong th:text="${'Total cost ' + cart.getTotalPrice()}">Total cost</strong>
            </div>
            <!-- <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b class="lead" th:text="${prod.getPrice()}">100 USD</b>
                        <b class="lead" th:text="${cart.getCountOfSingleItem(prod.getId())}">1</b>
                        <b class="lead" th:text="${prod.getTotalPrice()}">100 USD</b>
                        <input type="number" th:value="${cart.getCountOfSingleItem(prod.getId())}">

                         Add button with remove functionality or count bar with lower and add (+ and -)


                    </div>
                </div>
             </div> -->
        </div>
    </div>
    <div><a href="/">continue shopping</a></div>
    <form method="post" th:action="@{/cart/show}">
        <div class="card-text">
            <button type="submit" class="btn btn-success">buy now</button>
        </div>
    </form>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>
